body {
  background-color: #302e2b;
  overflow: hidden;
}

#containerBoard {
  width: 30rem;
}

#sidebar {
  background-color: white;
  height: 50vh;
  width: 20vw;
  display: block;
}

#homeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  height: 100vh;
  margin: auto;
}

.clock-container{
  display: flex;
  justify-content: flex-end;
}

.clock{
  height: 4vh;
  width: 5vw;
  
}
